.form_input {
    border-radius: 4px;
    display: block;
    margin: 6px 0 16px 0;
}

.form_select {
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact_form {
    border-radius: 5px;
    box-sizing: inherit;
    background: #f2f2f2;
    padding: 25px;
    margin: 20px;
    font-size: 15px;
    font-family: Verdana, sans-serif;
}

.form_control-type {
    display: block;
    padding: 12px;
    width: 95%;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.form_contact_select {
    width: 98%;
    padding: 12px;
    display: block;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.form_control-input {
    display: block;
    padding: 12px;
    width: 95%;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.form_control_texratea {
    width: 95%;
    padding: 12px;
    display: block;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 150px;
    font: inherit;
}

.form_control_button {
    color: #FFFFFF;
    background-color: #4CAF50;
    padding: 10px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 15px;
    width: 85px;
}

.form_control_button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer
}

.form_control_label {
    display: block;
    margin: 6px 0 9px 0;
}

.div_button {
    padding: 15px 0 0 1px;
}

a:after {
}
